@charset "ISO-8859-1";

.alertac{
	
	background: #F73E1D;
	width:50%;
	padding:15px;
	text-align: left;
	margin:30px auto;
	font-family:sans-serif;
	font-weight:bold;
	color:#FCD3CC;
	border-radius: 3px;
}

.guardiamsj{
	float:left;
	width: 45%;
}

.msj{
	margin: 15px auto;
	padding:10px;
	background:#f75346;
	color:white;
	text-align: center;
	border-radius: 3px;
}

.msjok{
	margin: 15px auto;
	padding:10px;
	background:rgb(63, 218, 54);
	color:white;
	text-align: center;
	border-radius: 3px;
}