@charset "ISO-8859-1";
.datepicker {
  	position: absolute;
    top: 615px !important;
    left: 158px !important;
    background: #fff;
}

.dates {
  width: 30rem;
}
.date {
  width: 100%;
}
.iconc {
  width: 15px;
  position: relative;
  right: -366px;
  top: -26px;
  background-color: #fff;
}
.datepicker {
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
}
.datepicker.datepicker-rtl table tr td span {
  float: right;
}

.container {
  width: 60%;
}
